@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both
  }
}

@mixin ir {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

@mixin ir_hidden {
  position: absolute;
  top: auto;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

@mixin ir_ico {
  display: block;
  max-width: 32px;
  max-height: 32px;
  margin: auto;
  color: transparent;
  overflow: hidden;
}

@mixin ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
}