/* last update 2022. 12. 07 */
/* */
*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  width: 100%;
  height: 100%;
  cursor: default;
  line-height: 1.15;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

button,
input,
select,
table,
textarea {
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
  border-width: 1px 0 0 0;
  border-style: solid;
}

main,
details {
  display: block;
}

dl,
ol,
ul,
menu {
  list-style: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

address,
em,
i {
  font-style: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

img {
  vertical-align: top;
}

iframe,
img,
fieldset {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

img[src$=".gif"],
img[src$=".png"] {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input {
  border: 0;
  border-radius: 0;
  overflow: visible;
}

input:focus {
  outline: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

dialog {
  background-color: #fff;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* select */
.btn_refresh {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border: 1px solid #e0e3eb;
  border-radius: 3px;
  background: #fff url(src/resources/images/icon/ico_refresh.svg) no-repeat center center;
  transition: border-color 0.2s;
}
.btn_refresh:hover {
  border-color: #cb83f8;
}
.btn_refresh .ico {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

.custom-select {
  position: relative;
  display: inline-block;
  height: 44px;
  border: 1px solid #e0e3eb;
  border-radius: 3px;
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
  transition: border-color 0.2s;
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.custom-select:hover {
  border-color: #cb83f8;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 48px;
  height: 18px;
  transform: translateY(-50%);
  border-left: 1px solid #eceef3;
}
.custom-select .select-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 48px;
  height: 18px;
  margin-top: -9px;
  background: url(src/resources/images/icon/ico_dropdown.svg) no-repeat center center;
  transition: transform 0.2s;
}
.custom-select .select-selected.select-arrow-active:after {
  transform: rotate(-180deg);
}
.custom-select .select-items div,
.custom-select .select-selected {
  display: flex;
  align-items: center;
  padding-left: 22px;
  cursor: pointer;
}
.custom-select .select-selected {
  height: 100%;
  padding-right: 70px;
}
.custom-select .select-items div {
  height: 3em;
  padding-right: 30px;
  transition: background-color 0.2s;
}
.custom-select .select-items {
  z-index: 9995;
  position: absolute;
  top: 100%;
  left: -1px;
  margin-top: 6px;
  min-width: calc(100% + 2px);
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.custom-select .select-items div:not(:first-child) {
  border-top: 1px solid #eceef3;
}
.custom-select .select-hide {
  display: none;
}
.custom-select .select-items div:hover, .custom-select .same-as-selected {
  background-color: #f5f5f5;
}

.list_form .custom-select,
.table_write .custom-select {
  width: 100%;
}

/* tab */
.tab_btns {
  display: flex;
}

.btn_tab {
  width: 180px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  background-color: #dee2ed;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
}
.btn_tab:not(:first-child) {
  margin-left: 10px;
}
.btn_tab:hover, .btn_tab.selected {
  background-color: #b23cf4;
  color: #fff;
}

.pop_wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.pop_wrap.hide {
  display: none;
}

.pop_box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 460px;
  min-height: 200px;
  max-height: calc(100% - 64px);
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
}

.pop_header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.pop_header_title {
  display: flex;
  align-items: center;
  height: 92px;
  font-size: 22px;
}

.pop_container {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pop_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
}

.pop_footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-top: 1px solid #e8e8e8;
}

.label_title {
  margin-bottom: 8px;
  font-size: 15px;
}

html {
  height: 100%;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #1b1d28;
  color: #fff;
}

body,
button,
input,
select,
textarea,
table {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
}

.font_title {
  font-family: Montserrat, sans-serif !important;
  font-weight: 800 !important;
}

.wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  min-width: 280px;
}

.content_wrapper {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.container_sub .content_wrapper {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.container_sub,
.container_login {
  min-height: calc(100vh - 320px);
  background-color: #fff;
  color: #1b1d28;
}

.header {
  z-index: 1001;
  position: relative;
  height: 13vw;
  max-height: 80px;
}
.header .content_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13vw;
  max-height: 80px;
  display: flex;
  align-items: center;
  background-color: #1b1d28;
}

.header_logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.header_logo img {
  display: block;
  height: 25%;
}

.header_nav,
.footer_nav {
  display: flex;
}
.header_nav a,
.footer_nav a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: color 0.2s;
  white-space: nowrap;
}
.header_nav a:not(:last-child),
.footer_nav a:not(:last-child) {
  margin-right: 20px;
}
.header_nav a:not(:first-child),
.footer_nav a:not(:first-child) {
  margin-left: 20px;
}
.header_nav a:not(:first-child)::before,
.footer_nav a:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  height: 12px;
  transform: translateY(-50%);
  border-left: 1px solid #363a50;
}
.header_nav a .ico_link,
.footer_nav a .ico_link {
  width: 14px;
  height: 14px;
  margin-left: 10px;
}
.header_nav a .ico_link path,
.footer_nav a .ico_link path {
  fill: currentColor;
}
.header_nav a:hover, .header_nav a.selected,
.footer_nav a:hover,
.footer_nav a.selected {
  color: #f600ff;
}

.header_nav {
  margin-left: 95px;
}

.header_util {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  white-space: nowrap;
}

.btn_util,
.btn_menu {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  max-height: 48px;
  min-height: 30px;
  border-radius: 24px;
  background-color: #282b38;
}

.btn_user,
.btn_menu {
  width: 8vw;
  max-width: 48px;
  min-width: 30px;
}

.btn_util:not(:last-child) {
  margin-right: 30px;
}
.btn_util:not(:first-child) {
  margin-left: 30px;
}
.btn_util:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  height: 20px;
  border-left: 1px solid #363a50;
  transform: translateY(-50%);
}

.btn_view {
  padding: 10px 55px 10px 24px;
}
.btn_view .ico {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
}

.btn_user .ico img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53%;
  max-width: 26px;
}

.btn_menu {
  display: none;
  margin-left: 1vw;
}
.btn_menu .ico {
  position: relative;
  display: block;
  width: 38%;
  height: 2px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}
.btn_menu .ico::before, .btn_menu .ico::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background-color: #fff;
}
.btn_menu .ico::before {
  margin-top: -7px;
}
.btn_menu .ico::after {
  margin-top: 5px;
}
.btn_menu .ico span {
  position: absolute;
  top: auto;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.footer {
  position: relative;
  z-index: 1000;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer .side_sns {
  display: flex;
  justify-content: flex-end;
}
.footer .side_sns li {
  margin-top: 0 !important;
}
.footer .side_sns li:not(:first-of-type) {
  margin-left: 16px;
}
.footer .content_wrapper {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.footer_copy {
  padding: 10px 0;
}

.side_nav {
  position: fixed;
  top: 130px;
  left: 30px;
}
.side_nav.sub .side_sns a::before {
  opacity: 0.06;
}
.side_nav.sub .side_sns a:hover::before {
  opacity: 0.15;
}
.side_nav.sub .side_sns .discord {
  background-image: url(src/resources/images/layouts/ico_discord_g.svg);
}
.side_nav.sub .side_sns .twitter {
  background-image: url(src/resources/images/layouts/ico_twitter_g.svg);
}
.side_nav.sub .side_sns .medium {
  background-image: url(src/resources/images/layouts/ico_medium_g.svg);
}

.side_sns li:not(:first-of-type) {
  margin-top: 10px;
}
.side_sns .btn_sns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 58px;
}
.side_sns .btn_sns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(src/resources/images/layouts/bg_shortcut.svg) no-repeat center center;
  background-size: 100%;
  opacity: 0.4;
  transition: opacity 0.3s;
}
.side_sns .btn_sns:hover::before {
  opacity: 1;
}
.side_sns .btn_sns span {
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.side_sns img {
  position: relative;
}
.side_sns .discord {
  background: url(src/resources/images/layouts/ico_discord.svg) no-repeat center center;
}
.side_sns .twitter {
  background: url(src/resources/images/layouts/ico_twitter.svg) no-repeat center center;
}
.side_sns .medium {
  background: url(src/resources/images/layouts/ico_medium.svg) no-repeat center center;
}

.side_main {
  margin-top: 30px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.side_position {
  margin-left: 15px;
}
.side_position .item {
  position: relative;
  display: flex;
  align-items: center;
  height: 27px;
  padding-left: 28px;
  color: #d505fd;
  transition: color 0.2s;
}
.side_position .item:not(:first-of-type) {
  position: relative;
  margin-top: 62px;
}
.side_position .item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: -62px;
  left: 9px;
  height: 62px;
  border-left: 1px solid #d505fd;
  transition: opacity 0.2s, border-left-color 0.2s;
}
.side_position .item.current ~ .item {
  color: #fff;
}
.side_position .item.current ~ .item::before {
  border-color: #fff;
  opacity: 0.1;
}
.side_position .item.current ~ .item .label {
  opacity: 0.3;
}
.side_position .item.current ~ .item .bullet {
  opacity: 0.1;
}
.side_position .item.current ~ .item:hover {
  color: #d505fd;
}
.side_position .item.current ~ .item:hover .label,
.side_position .item.current ~ .item:hover .bullet {
  opacity: 1;
}
.side_position .label {
  transition: opacity 0.2s;
}
.side_position .bullet {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 3px;
  transform: rotate(45deg);
  width: 13.5px;
  height: 13.5px;
  border: 1px solid currentColor;
  opacity: 1;
  transition: border-color 0.2s, opacity 0.2s;
}
.side_position .bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6.4px;
  height: 6.4px;
  background-color: currentColor;
  transition: background-color 0.2s;
}

.container_main {
  min-height: calc(100vh - 80px);
  min-width: 1600px;
}
.container_main .content_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1380px;
  height: 1000px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.container_main img {
  max-width: 100%;
}

.section_play,
.section_last {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_play .content_wrapper,
.section_last .content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_play .btn_play,
.section_last .btn_play {
  margin-top: 40px;
}
.section_play .btn_store,
.section_last .btn_store {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 56px;
  border-radius: 56px;
  margin-top: 30px;
  background-color: #101117;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.section_play .btn_store .ico,
.section_last .btn_store .ico {
  width: 22px;
  margin-right: 10px;
}
.section_play .obj_coin,
.section_last .obj_coin {
  position: absolute;
  top: -80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.section_play .obj_coin span,
.section_last .obj_coin span {
  position: absolute;
  display: block;
}
.section_play .obj_coin span:first-of-type,
.section_last .obj_coin span:first-of-type {
  top: 5%;
  left: 178px;
  width: 143px;
  height: 197px;
  background: url(src/resources/images/main/coin_01.png) repeat-x left top;
}
.section_play .obj_coin span:nth-of-type(2),
.section_last .obj_coin span:nth-of-type(2) {
  top: 60%;
  right: -3%;
  width: 221px;
  height: 242px;
  background: url(src/resources/images/main/coin_02.png) repeat-x left top;
}
.section_play .obj_coin span:nth-of-type(3),
.section_last .obj_coin span:nth-of-type(3) {
  bottom: 4%;
  left: -1%;
  width: 85px;
  height: 139px;
  background: url(src/resources/images/main/coin_03.png) repeat-x left top;
}

.section_play {
  position: relative;
  background: url(src/resources/images/main/bg_section_first.jpg) no-repeat center -80px;
  background-size: auto 100%;
}
.section_play .content_wrapper {
  padding-bottom: 68px;
}

.section_slots {
  background: url(src/resources/images/main/bg_section_repeat01.jpg) repeat-x center top;
}

.section_decks {
  background: url(src/resources/images/main/bg_section_repeat02.jpg) repeat-x center top;
}

.section_earn {
  background: url(src/resources/images/main/bg_section_repeat03.jpg) repeat-x center top;
}

.section_last {
  height: 1100px;
  margin-bottom: -240px;
  background: url(src/resources/images/main/bg_section_last.jpg) no-repeat center top;
  background-size: cover;
}
.section_last .content_wrapper {
  height: 100%;
  padding-bottom: 48px;
  background: url(src/resources/images/main/bg_section_last_spin.png) no-repeat center 105px;
}
.section_last .section_title {
  text-align: center;
}
.section_last .section_title .sub {
  font-size: 42px;
}
.section_last .section_title .main {
  font-size: 120px;
  margin-bottom: 35px;
}

.section_cities .content_wrapper,
.section_piggy .content_wrapper {
  flex-direction: row-reverse;
}
.section_img,
.section_cont {
  width: 50%;
}

.section_img {
  display: flex;
  align-items: center;
}

.section_cont .section_desc {
  margin-top: 45px;
  margin-bottom: 55px;
  padding-left: 3px;
  font-size: 19px;
  line-height: 1.3em;
}
.section_cont .link_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 80px;
  border-radius: 40px;
  padding: 1.1em;
  background-color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}
.section_cont .link_more .label {
  display: block;
  padding-left: 2em;
}
.section_cont .link_more .ico {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.12);
}
.section_cont .link_more .ico::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  transform: translateY(-50%);
  border-style: solid;
  border-width: 4px 6px;
  border-color: transparent transparent transparent #fff;
}

.section_title {
  font-size: 92px;
  line-height: 0.95em;
}

.container_login {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.login_title {
  text-align: center;
}
.login_title .font_title {
  font-size: 3.25rem;
  text-transform: uppercase;
}
.login_title .subtit {
  margin-top: 0.938rem;
  font-weight: 800;
}

.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  border-radius: 12px;
  background-color: #eceef3;
}
.login_box .font_title {
  font-size: 2.25rem;
}

.login_sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;
}
.login_sns button {
  display: block;
  width: 100%;
  max-width: 340px;
  height: 3.7503em;
  padding: 0 29px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  background-color: #fff;
  font-weight: 600;
}
.login_sns button:not(:first-of-type) {
  margin-top: 14px;
}
.login_sns button span {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  margin-left: 44px;
  padding-left: 18px;
  border-left: 1px solid #d9d9db;
  text-align: left;
}
.login_sns button span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -44px;
  width: 44px;
  height: 30px;
  margin-top: -15px;
}
.login_sns button.btn_apple span::before {
  background: url(src/resources/images/icon/ico_apple.svg) no-repeat 2px 2px;
}
.login_sns button.btn_facebook span::before {
  background: url(src/resources/images/icon/ico_facebook.svg) no-repeat left center;
  background-size: 24px;
}
.login_sns button.btn_google span::before {
  background: url(src/resources/images/icon/ico_google.svg) no-repeat left center;
  background-size: 23px;
}

.container_sub {
  background-color: #eceef3;
}

.mypage_profile {
  background-color: #fff;
}
.mypage_profile .content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mypage_detail .content_wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile_photo {
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_photo .inner {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.profile_photo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile_name {
  font-size: 36px;
  margin-top: 0.4em;
}

.profile_id {
  margin-top: 0.4em;
  font-weight: 600;
}
.profile_id span {
  padding-right: 5px;
  color: #5b5f67;
  font-size: 12px;
}

.profile_btns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.2rem;
}

.btn_profile {
  width: calc(50% - 22px);
  max-width: 298px;
  height: 4.5em;
  max-height: 60px;
  margin: 0 11px;
  padding: 0 11px;
  border-radius: 3px;
  background-color: #eceef3;
  font-weight: 600;
  white-space: nowrap;
}
.btn_profile span {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.btn_profile .wallet {
  padding-left: 39px;
  background: url(src/resources/images/icon/ico_wallet.png) no-repeat left center;
  background-size: 28px;
}
.btn_profile .cash {
  padding-left: 37px;
  background: url(src/resources/images/icon/ico_cash.svg) no-repeat left 45%;
}

.dashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_action {
  display: flex;
}
.dashboard_action > *:not(:first-child) {
  margin-left: 8px;
}

.point_box {
  display: flex;
  align-items: center;
  margin-top: 27px;
  padding: 20px 40px 20px 0;
  border-radius: 8px;
  background-color: #fff;
}

.point_title {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  height: 100px;
  background: url(src/resources/images/icon/ico_point.png) no-repeat center top;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
}
.point_title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 60px;
  border-right: 1px solid #eceef3;
  transform: translateY(-50%);
}

.point_value {
  flex-grow: 1;
  display: flex;
}
.point_value .item {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 40px;
  white-space: nowrap;
}
.point_value .item .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.point_value .item .label {
  color: #5c5d64;
  font-weight: 500;
  letter-spacing: 0;
  padding-right: 5px;
}
.point_value .item .value {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0;
}
.point_value .item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60px;
  border-right: 1px solid #eceef3;
  transform: translateY(-50%);
}

.point_btns {
  width: 20%;
  max-width: 250px;
  height: 80px;
}
.point_btns .btn_profile {
  width: 100%;
  height: 100%;
  max-height: 80px;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .content_wrapper {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .btn_menu {
    display: block;
  }

  .header_nav {
    display: none;
  }

  .btn_view {
    display: none;
  }

  .btn_util:not(:first-child)::before {
    content: none;
  }

  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer .content_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer_content {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .footer_nav {
    margin-left: -10px;
    font-size: 0.857rem;
  }

  .footer_copy {
    font-size: 0.929rem;
  }

  .side_nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .container_sub,
.container_login {
    min-height: calc(100vh - 150px);
  }

  .btn_menu .ico {
    border-bottom-color: transparent;
  }
  .btn_menu .ico::before,
.btn_menu .ico::after {
    height: 1px;
  }
  .btn_menu .ico::before {
    margin-top: -5px;
  }
  .btn_menu .ico::after {
    margin-top: 3px;
  }

  .side_sns .btn_sns {
    width: 35px;
    height: 40px;
  }
  .side_sns .discord {
    background-size: 17px;
  }
  .side_sns .twitter {
    background-size: 17px;
  }
  .side_sns .medium {
    background-size: 20px;
  }

  .footer .side_sns li:not(:first-of-type) {
    margin-left: 6px;
  }

  .footer_copy {
    padding: 5px 0;
    font-size: 0.786rem;
    letter-spacing: 0;
  }

  .footer_nav {
    display: flex;
    margin-left: -5px;
    font-size: 0.714rem;
    letter-spacing: 0;
  }
  .footer_nav a {
    padding: 5px;
  }
  .footer_nav a:not(:last-child) {
    margin-right: 10px;
  }
  .footer_nav a:not(:first-child) {
    margin-left: 10px;
  }
  .footer_nav a:not(:first-child)::before {
    left: -10px;
  }
}
@media screen and (max-width: 319px) {
  .container_sub,
.container_login {
    min-height: calc(100vh - 180px);
  }

  .footer .content_wrapper {
    flex-direction: column;
  }
  .footer .side_sns {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1279px) {
  .point_title {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .dashboard_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .dashboard_action {
    width: 100%;
    margin-top: 5%;
  }
  .dashboard_action .custom-select {
    flex-grow: 1;
  }
  .dashboard_action > *:not(:first-child) {
    margin-left: 5px;
  }

  .point_box {
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  }

  .point_value {
    width: 100%;
    margin-top: 2%;
  }
  .point_value .item {
    justify-content: flex-end;
    padding: 0 4%;
  }

  .point_btns {
    width: 100%;
    max-width: unset;
    height: auto;
    margin-top: 4%;
  }
  .point_btns .btn_profile {
    max-width: unset;
    height: 3.5em;
    font-size: 2.5vw;
  }
  .point_btns .btn_profile .cash {
    padding-left: 5.5vw;
    background-size: auto 40%;
  }
}
@media screen and (max-width: 767px) {
  .container_login {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }

  .login_title .font_title {
    font-size: 7.5vw;
    line-height: 1em;
  }
  .login_title .subtit {
    margin-top: 1em;
    font-size: 2vw;
    letter-spacing: 0;
  }

  .login_box {
    padding-top: 10vw;
    padding-bottom: 10.5vw;
    margin-top: 10vw;
  }
  .login_box .font_title {
    font-size: 5.5vw;
  }

  .login_sns {
    margin-top: 1.5rem;
  }
  .login_sns button {
    padding: 0 1.4rem;
    letter-spacing: 0;
  }
  .login_sns button:not(:first-of-type) {
    margin-top: 8px;
  }
  .login_sns button.btn_apple span::before, .login_sns button.btn_facebook span::before, .login_sns button.btn_google span::before {
    background-size: 18px;
  }
  .login_sns button.btn_apple span::before {
    background-position: left 3px;
  }
  .login_sns button span {
    height: 1rem;
    line-height: 1rem;
    margin-left: 36px;
  }
  .login_sns button span::before {
    left: -36px;
    width: 36px;
  }

  /********* my page *********/
  .mypage_profile .content_wrapper {
    padding-top: 10vw;
    padding-bottom: 8vw;
  }

  .mypage_detail {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mypage_detail .content_wrapper {
    padding-top: 8vw;
    padding-bottom: 8vw;
  }

  .profile_name {
    font-size: 5vw;
  }

  .profile_id {
    font-size: 2vw;
    letter-spacing: 0;
  }

  .profile_btns {
    margin-top: 5vw;
  }

  .btn_profile {
    width: calc(50% - 10px);
    margin: 0 5px;
    font-size: 2vw;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .btn_profile .wallet {
    padding-left: 3em;
    background-size: auto 45%;
  }
  .btn_profile .cash {
    padding-left: 3em;
    background-size: auto 45%;
  }

  .btn_tab {
    width: 32vw;
    height: 3.2em;
    border-radius: 2em;
    font-size: 3vw;
    letter-spacing: 0;
    white-space: nowrap;
  }

  .custom-select {
    height: 4.5em;
    font-size: 2vw;
  }
  .custom-select .select-selected:before,
.custom-select .select-selected:after {
    width: 20%;
    min-width: 25px;
    max-width: 60px;
  }
  .custom-select .select-selected:before {
    height: 40%;
    min-height: 12px;
  }
  .custom-select .select-selected:after {
    background-size: 28%;
  }
  .custom-select .select-items div,
.custom-select .select-selected {
    padding-left: 8%;
  }
  .custom-select .select-items div {
    padding-right: 8%;
  }

  .btn_refresh {
    width: 4.5em;
    height: 4.5em;
    font-size: 2vw;
    background-size: 42%;
  }

  .point_box {
    margin-top: 4vw;
  }

  .point_value .item .label {
    font-size: 2vw;
  }
  .point_value .item .value {
    font-size: 5vw;
  }
  .point_value .item:not(:first-child)::after {
    height: 90%;
  }
}

/*# sourceMappingURL=index.css.map */
