.btn_more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 3em;
  border: 0;
  border-radius: 46px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #838383;
  font-weight: 700;
}

.btn_comm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 4.5rem;
  height: 2.250rem;
  padding: 0 1.5em;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  font-size: 0.875rem;;
  white-space: nowrap;

  &.submit {
    border: 0;
    background-color: $c_secondary;
    color: #fff;
  }

  &.cancel {
    border-color: #222;
  }

  &.function {
    border-color: $c_secondary;
    color: $c_secondary;
  }

  &.confirm {
    border: 0;
    background-color: #edf1fd;
    color: $c_secondary;
  }

  &.critical {
    border: 0;
    background-color: #ff6701;
    color: #fff;
  }

  &.err {
    border: 0;
    background-color: #fdf3f2;
    color: #e76055;
    transition: background-color .2s, color .2s;

    &:hover {
      background-color: #e76055;
      color: #fff;
    }
  }

  &.lg {
    min-width: 7rem;
    height: 3rem;
    font-size: 16px;
  }

  .ico.next {
    padding-right: 20px;

    &::after {
      left: auto;
      right: 0;

    }
  }

  .ico.prev {
    padding-left: 15px;

    &::after {
      left: 0;
    }
  }

  .ico.prev::after,
  .ico.next::after {
    margin-top: -3px;
    border-color: currentColor;
  }
}

.board_btns .btn_comm.lg {
  min-width: 8rem;
}

.btn_pop {
  width: 7rem;
  height: 2.625rem;
  margin: 0 2px;
  border-radius: 4px;
  font-size: 15px;

  &.submit {
    background-color: $c_secondary;
    color: #fff;
  }

  &.cancel {
    border: 1px solid #222;
  }
}

.btn_icon {
  width: 32px;
  height: 32px;
}

.btn_menu {
  position: relative;
  width: 48px;
  min-height: 48px;

  &:hover span {
    color: #222;
  }
}

.btn_faq {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 50px 10px 0;
  font-weight: 500;
  text-align: left;
  transition: color .2s;

  &:hover {
    color: $c_secondary;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2.5rem;
    border-top: 2px solid #898989;
    border-right: 2px solid #898989;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: -4px 0 0 -5px;
    display: block;
    width: 8px;
    height: 8px
  }
}