.pop_wrap {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);

  &.hide { display: none }
}

.pop_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  max-width: 617px;
  min-height: 200px;
  max-height: calc(100% - 64px);
  border-radius: 24px 24px 30px 30px;
  background-color: #eceef3;
  color: #1f2329;
}

.pop_header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.pop_header_title {
  display: flex;
  align-items: center;
  height: 92px;
  font-size: 22px;
}

.pop_container {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pop_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
}

.pop_footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-bottom: 0;
  border-radius: 0 0 24px 24px;
  background-color: #b23cf4;
  color: #fff;
}

.label_title {
  margin-bottom: 8px;
  font-size: 15px;
}

.btn_pop_close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;

  .ico {
    display: block;
    @include ir;

    &::before,
    &::after {
      content: '';
      transition: 0.2s;
      display: block;
      width: 40%;
      height: 2px;
      background: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;

    }

    &::before {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &::after {
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }

  &:hover {
    .ico {
      color: #b23cf4;
    }
  }
}

.pop_content {
  .nfts_item {
    width: 300px;
    margin: 0 0 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
  }
}

.list_pop {
  margin: 10px 0;

  li {
    position: relative;
    margin: 10px 0;
    padding-left: 18px;
    color: #5c6573;

    &::before {
      content: '';
      position: absolute;
      top: 0.4em;
      left: 0;
      width: 6px;
      height: 6px;
      border: 2px solid #b23cf4;
      transform: rotate(45deg);
    }
  }
}