.tab_container {
  margin-top: 2rem;
}

.tab_buttons {
  display: flex;
  padding-left: 1px;
  margin-bottom: 3.750rem;

  .btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.9em;
    margin-left: -1px;
    border: 1px solid #e6e6e6;
    border-bottom-color: #ccc;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    color: #b2b2b2;
    font-weight: 500;

    &.selected {
      position: relative;
      border-color: #ccc;
      border-bottom: 0;
      background-color: #fff;
      color: #222;
      font-weight: 700;
    }
  }
}