.board_list_header,
.board_read_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  border-top: 2px solid #efefef;
  font-size: 18px;
}

.board_read_header,
.board_read_body {
  padding-left: 1.333rem;
  padding-right: 1.333rem;
  border-top-color: #222;
}

.board_read_header {
  &.sub {
    border-top-color: #efefef;
  }
}

.board_title.sub {
  margin-right: auto;
  font-size: 1.625rem;
}

.board_date {
  font-size: 0.833em;
  color: #666;
}

.board_count {
  color: #444;

  strong {
    color: $c_secondary;
  }
}

.board_search {
  position: relative;
  width: 360px;
  height: 2.875rem;

  .textfield_search {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 3.250rem;
    border-radius: 4px;
    border: 1px solid #c7c7c7;
    background-color: #fff;
  }

  .btn_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.250rem;
    height: 100%;
  }
}

.board_read_body {
  padding-top: 3.750rem;
  padding-bottom: 3.750rem;
  border-top: 1px solid #222;
  border-bottom: 1px solid #cbcbcb;
  line-height: 1.5;
  color: #444;

  &.sub {
    padding-top: 2.5rem;
    padding-bottom: 0;
    border-bottom: 0;
  }

  img {
    max-width: 100%;
  }
}

.paging_board,
.board_btns:not(.float) {
  margin-top: 2.5rem;
}

.board_btns {
  &:not(.float) {
    display: flex;
    justify-content: center;
  }

  margin-right: -2px;
  margin-left: -2px;

  .btn_comm {
    margin: 0 2px;
  }

  &.float {
    position: relative;

    .btn_comm {
      position: absolute;
      right: 0;
      bottom: calc(100% - 6px);
    }
  }
}

.platform_table_header {
  display: flex;
  align-items: center;
  height: 3.2rem;

  .title {
    margin-right: auto;
    font-size: 1.5rem;
  }
}

.platform_view_doc {
  margin: 20px 0;
  padding: 40px;
  border: 1px solid #dedede
}

.board_read_page {
  margin-top: -1px;
  border-bottom: 1px solid #cbcbcb;

  .board_prev,
  .board_next {
    display: flex;
    align-items: center;
    min-height: 3.750em;
    padding: 10px 0;
    border-top: 1px solid #ededed;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      color: #222;
      font-weight: 500;
      word-break: keep-all;
    }

    &::before {
      flex-shrink: 0;
      display: inline-block;
      width: 4em;
    }
  }

  .board_prev {
    &::before {
      content: '이전글';
      color: $c_primary;
    }
  }

  .board_next {
    &::before {
      content: '다음글';
      color: $c_secondary;
    }
  }

  .board_ans {
    position: relative;
    padding: 1.5em 1.333rem 1.5em 6em;
    color: $c_secondary;
    line-height: 1.5;

    &::before {
      content: '답변';
      position: absolute;
      top: 1.5em;
      left: 1.333rem;
    }
  }
}

/* digital data body */
.board_body_data {
  font-size: .938rem;
}

.board_tit_main {
  font-size: 26px
}

.board_tit_sub {
  margin: 1.5rem 0 .5rem;
  font-size: 22px;
}

.board_text_main {
  font-size: 17px;
  color: #222;
}

.list_board {
  margin: 1.5rem 0;

  li {
    position: relative;
    padding-left: 15px;
    margin: 3px 0;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: 2px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #444;
    }
  }
}

.table_board {
  width: 100%;
  table-layout: fixed;
  margin: 2rem 0;
  border: 1px solid #dedede;
  font-size: 1em;

  th, td {
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid #ededed;
  }

  th {
    width: 15%;
    background-color: #f7f7f7;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
  }

  td {
    word-break: break-all;
  }

  tr:last-of-type {
    th, td {
      border-bottom-width: 0;
    }
  }
}

.board_textarea {
  width: 100%;
  border: 0;
  font-size: 1em;
  resize: none;
  outline: none;
}