.cloud_service,
.platform_service,
.api_service {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  word-break: keep-all;
}

.cloud_category,
.platform_category {
  flex-grow: 1;
  width: calc(100% / 3 - 20px);
  margin: 60px 10px 0;
  color: $c_primary;

  .section_tit {
    margin-bottom: 0.5em;
    font-size: 1.750em;
  }

  &.c1 { color: #0090ff; }
  &.c2 { color: #f55f1d; }
  &.c3 { color: #1ca329; }
  &.c4 { color: #0a4ebe; }
  &.c5 { color: #d632e5; }
  &.c6 { color: #f85f75; }
  &.c7 { color: #16ccca; }
  &.c8 { color: #6569f8; }
  &.c9 { color: #f0b516; }
}

.platform_category {
  .section_tit {
    margin-bottom: 0.8em;
  }
}

.api_category {
  width: calc(100% / 4 - 20px);
  margin: 60px 10px 0;

  .section_tit {
    margin-bottom: 0.8em;
    font-size: 1.625rem;
    text-align: center
  }
}

.cloud_list {
  border-top: 2px solid currentColor;

  li {
    &:first-of-type .cloud_link {
      border-top: 0;
      margin-top: 0;
    }
  }
}

.api_list,
.platform_list {
  li {
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }
}

.api_link,
.platform_link {
  position: relative;
  display: block;
  padding: 1.2em 1.6rem;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: background-color .3s, border-color .3s, color .2s;
}

.cloud_link,
.platform_link {
  &:hover {
    h4,
    .txt {
      color: #fff;
    }
  }

  h4 {
    font-size: 1.250rem;
    color: #222;
    transition: color .2s;
  }

  .txt {
    margin-top: 0.8em;
    color: #444;
    font-size: 0.875rem;;
    line-height: 1.3em;
    word-break: keep-all;
    transition: color .2s;
  }
}

.cloud_link {
  display: block;
  padding: 1.4rem;
  border: 1px solid #e6e6e6;
  margin-top: -1px;
  transition: background-color .3s, border-color .3s;

  &:hover {
    position: relative;
    border-color: currentColor;
    background-color: currentColor;
  }
}

.platform_link {
  padding-right: 7rem;
  background-color: #fff;

  &:hover {
    border-color: $c_primary;
    background-color: $c_primary;
    color: #fff;

    h4,
    .txt {
      color: #fff;
    }

    .paasta span {
      opacity: 1;
    }
  }

  .paasta {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: 700;

    span {
      display: block;
      opacity: .7;
      font-size: 0.875rem;;
      font-weight: 500;
      line-height: 1em;
    }
  }
}

.api_link {
  background-color: #f7f7f7;

  &:hover {
    border-color: $c_secondary;
    background-color: $c_secondary;
    color: #fff;

    &::after {
      border-color: #fff;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2rem;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid #808080;
    border-right: 3px solid #808080;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
  }

  span {
    padding-left: 5px;
    font-weight: 400;
  }
}