.point_box {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 0;
  border-radius: 8px;
  background-color: #fff;
}

.point_title {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  height: 100px;
  background: url(src/resources/images/icon/ico_point.png) no-repeat center top;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 60px;
    border-right: 1px solid #eceef3;
    transform: translateY(-50%);
  }
}

.point_value {
  flex-grow: 1;
  display: flex;

  .item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 40px;
    white-space: nowrap;

    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .label {
      color: #5c5d64;
      font-weight: 500;
      letter-spacing: 0;
      padding-right: 5px;
    }

    .value {
      font-size: 42px;
      font-weight: 800;
      letter-spacing: 0;
    }

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 60px;
      border-right: 1px solid #eceef3;
      transform: translateY(-50%);
    }
  }
}

.point_btns {
  width: 20%;
  max-width: 250px;
  height: 80px;

  .btn_profile {
    width: 100%;
    height: 100%;
    max-height: 80px;
    margin: 0;
  }
}

.dashboard_table {
  margin-top: 40px;
}

.table_dashboard {
  width: 100%;
  border-collapse: collapse;

  thead th {
    height: 50px;
    color: #5c5d64;
    font-weight: 600;
    background-color: #dee2ed;

    &:first-of-type {
      border-radius: 4px 0 0 4px
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0
    }
  }

  td {
    height: 75px;
    padding: 0 20px;
    border-bottom: 1px solid #d6dbe9;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    & > * {
      vertical-align: middle;
    }

    small {
      padding-left: 4px;
    }
  }

  .ico {
    display: inline-block;
    width: 48px;
    text-align: left;

    img {
      margin-top: -2px;
    }
  }

  .plus {
    color: #1da644;
  }

  .minus {
    color: #cd1010;
  }

  .claim {
    width: 240px;

    .ico_wrapper {
      display: inline-flex;
      width: unset;
    }
  }

  .claimed,
  .refunded {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #dee2ed;
    line-height: 1.2em;
    font-size: 1rem;

    .txt {
      color: #8a29c1;
      font-weight: 600
    }
  }

  .refunded {
    position: relative;
    flex-direction: row;
    align-items: center;

    .txt {
      color: unset
    }
  }
}

.tooltip {
  position: relative;
  margin-left: 6px;

  &:hover,
  &:focus {
    .tooltip_pop,
    .tooltip_btn::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip_btn {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff url(src/resources/images/icon/ico_info.svg) no-repeat center center;

  &::after {
    content: '';
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    border: 10px solid transparent;
    border-bottom-color: #5f6672;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
  }

  .ico {
    display: inline-block;
    @include ir;
  }
}

.tooltip_pop {
  z-index: 1;
  position: absolute;
  top: calc(50% + 21px);
  left: 50%;
  padding: 10px 30px;
  font-size: 14px;
  letter-spacing: 0;
  border-radius: 4px;
  background-color: #5f6672;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.3;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.ico_wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  .ico {
    flex-shrink: 0;
  }
}

.btn_claim {
  width: 180px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  background-color: #b23cf4;
}

.dashboard_btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn_more {
  width: 240px;
  height: 60px;
  border: 1px solid #e0e3eb;
  border-radius: 30px;
  background-color: #fff;
  font-weight: 600;
  transition: border-color .2s;

  &:hover {
    border-color: #cb83f8;
  }

  .ico {
    padding-right: 23px;
    background: url(src/resources/images/icon/ico_dropdown.svg) no-repeat 99% 60%;
  }
}