.faq_wrapper {
  border-top: 2px solid #222;
  border-bottom: 1px solid #cbcbcb;

  .td_num {
    display: inline-block;
    width: 8%;
    text-align: center;
  }

  .tit {
    flex-grow: 1;
    padding-left: 1.875rem;
  }
}

.faq_header {
  display: flex;
  align-items: center;
  height: 3.750rem;
  border-bottom: 1px solid #222;
  font-size: 1.125rem;
  font-weight: 700;
}

.faq_list {
  & > li {
    &:not(:first-of-type) {
      border-top: 1px solid #ededed;
    }
  }
}

.faq_que {
  display: flex;
  align-items: center;
  min-height: 3.750rem;

  .tit {
    height: 100%;
  }
}

.faq_ans {
  overflow: hidden;
  height: 0;
  box-shadow: inset 0 1px 0 0 #ededed;
  padding-left: 8%;

  .cont {
    padding: 1.875rem;
    color: #555;
    line-height: 1.5;
  }
}

.faq_item.open {
  .faq_ans {
    height: auto;
  }
  .btn_faq {
    color: $c_secondary;

    &::after {
      border-color: currentColor;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}