.container_login {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.login_title {
  text-align: center;

  .font_title {
    font-size: 3.25rem;
    text-transform: uppercase;
  }

  .subtit {
    margin-top: 0.938rem;
    font-weight: 800;
  }
}

.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.750rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  border-radius: 12px;
  background-color: #eceef3;

  .font_title {
    font-size: 2.250rem
  }
}

.login_sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;

  button {
    display: block;
    width: 100%;
    max-width: 340px;
    height: 3.7503em;
    padding: 0 29px;
    border: 1px solid #e0e3eb;
    border-radius: 4px;
    background-color: #fff;
    font-weight: 600;

    &:not(:first-of-type){
      margin-top: 14px;
    }

    span {
      position: relative;
      display: flex;
      align-items: center;
      height: 20px;
      margin-left: 44px;
      padding-left: 18px;
      border-left: 1px solid #d9d9db;
      text-align: left;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -44px;
        width: 44px;
        height: 30px;
        margin-top: -15px;
      }
    }

    &.btn_apple span::before {
      background: url(src/resources/images/icon/ico_apple.svg) no-repeat 2px 2px;
    }

    &.btn_facebook span::before {
      background: url(src/resources/images/icon/ico_facebook.svg) no-repeat left center;
      background-size: 24px;
    }

    &.btn_google span::before {
      background: url(src/resources/images/icon/ico_google.svg) no-repeat left center;
      background-size: 23px;
    }
  }
}