.container_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.login_title {
  text-align: center;

  .font_title {
    font-size: 52px;
    text-transform: uppercase;
  }

  .subtit {
    margin-top: 15px;
    font-weight: 800;
  }
}

.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 12px;
  background-color: #eceef3;

  .font_title {
    font-size: 36px;
  }
}

.login_sns {
  margin-top: 32px;

  button {
    display: block;
    width: 340px;
    height: 60px;
    border: 1px solid #e0e3eb;
    border-radius: 4px;
    background-color: #fff;

    &:not(:first-of-type){
      margin-top: 14px;
    }
  }
}