.container_main {
  min-height: calc(100vh - 80px);
  min-width: 1600px;
  overflow: hidden;

  .content_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1380px;
    height: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto
  }

  img {
    max-width: 100%
  }
}

.section_play,
.section_last {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn_play {
    margin-top: 40px
  }

  .btn_store {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 56px;
    border-radius: 56px;
    margin-top: 30px;
    background-color: #101117;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

    .ico {
      width: 22px;
      margin-right: 10px;
    }
  }

  .obj_coin {
    position: absolute;
    top: -80px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    span {
      position: absolute;
      display: block;

      &:first-of-type {
        top: 5%;
        left: 178px;
        width: 143px;
        height: 197px;
        background: url(src/resources/images/main/coin_01.png) repeat-x left top;
      }

      &:nth-of-type(2) {
        top: 60%;
        right: -3%;
        width: 221px;
        height: 242px;
        background: url(src/resources/images/main/coin_02.png) repeat-x left top;
      }

      &:nth-of-type(3) {
        bottom: 4%;
        left: -1%;
        width: 85px;
        height: 139px;
        background: url(src/resources/images/main/coin_03.png) repeat-x left top;
      }
    }
  }
}

.section_play {
  position: relative;
  background: url(src/resources/images/main/bg_section_first.jpg) no-repeat center -80px;
  background-size: auto 100%;

  .content_wrapper {
    padding-bottom: 68px;
  }
}

.section_slots {
  background: url(src/resources/images/main/bg_section_repeat01.jpg) repeat-x center top;
}

.section_decks {
  background: url(src/resources/images/main/bg_section_repeat02.jpg) repeat-x center top;
}

.section_earn {
  background: url(src/resources/images/main/bg_section_repeat03.jpg) repeat-x center top;
}

.section_last {
  height: 1100px;
  margin-bottom: -240px;
  background: url(src/resources/images/main/bg_section_last.jpg) no-repeat center top;
  background-size: cover;

  .content_wrapper {
    height: 100%;
    padding-bottom: 48px;
    background: url(src/resources/images/main/bg_section_last_spin.png) no-repeat center 105px;
  }

  .section_title {
    text-align: center;

    .sub {
      font-size: 42px;
    }

    .main {
      font-size: 120px;
      margin-bottom: 35px;
    }
  }
}


.section_slots,
.section_decks,
.section_earn {
  .section_img {
    //justify-content: flex-end;
  }
  .section_cont {
    //margin-left: 25px;
  }
}

.section_cities,
.section_piggy {
  .content_wrapper {
    flex-direction: row-reverse;
  }

  .section_img {

  }

  .section_cont {
    //max-width: 626px
  }
}

.section_img,
.section_cont {
  width: 50%
}

.section_img {
  display: flex;
  align-items: center;
}


.section_cont {
  .section_desc {
    margin-top: 45px;
    margin-bottom: 55px;
    padding-left: 3px;
    font-size: 19px;
    line-height: 1.3em;
  }

  .link_more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 80px;
    border-radius: 40px;
    padding: 1.1em;
    background-color: rgba(0,0,0,0.6);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;

    .label {
      display: block;
      padding-left: 2em;
    }

    .ico {
      position: relative;
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid rgba(255,255,255,0.03);
      background-color: rgba(255,255,255,0.12);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(50% - 2px);
        transform: translateY(-50%);
        border-style: solid;
        border-width: 4px 6px;
        border-color: transparent transparent transparent #fff;
      }
    }
  }
}

.section_title {
  font-size: 92px;
  line-height: 0.95em;
}