.container_sub {
  background-color: #eceef3;
}

.mypage_profile {
  background-color: #fff;

  .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.mypage_detail {
  .content_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.profile_photo {
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;

  .inner {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.profile_name {
  font-size: 36px;
  margin-top: 0.4em;
}

.profile_id {
  margin-top: 0.4em;
  font-weight: 600;
  span {
    padding-right: 5px;
    color: #5b5f67;
    font-size: 12px;
    letter-spacing: 0;
  }
}

.profile_btns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.2rem;
}

.btn_profile {
  width: calc(50% - 22px);
  max-width: 298px;
  height: 4.5em;
  max-height: 60px;
  margin: 0 11px;
  padding: 0 11px;
  border-radius: 4px;
  background-color: #eceef3;
  font-weight: 600;
  white-space: nowrap;

  span {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  .wallet {
    padding-left: 39px;
    background: url(src/resources/images/icon/ico_wallet.png) no-repeat left center;
    background-size: 28px;
  }

  .cash {
    padding-left: 37px;
    background: url(src/resources/images/icon/ico_cash.svg) no-repeat left 45%;
  }
}

.dashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_action {
  display: flex;

  & > *:not(:first-child) {
    margin-left: 8px;
  }
}

.point_box {
  display: flex;
  align-items: center;
  margin-top: 27px;
  padding: 20px 40px 20px 0;
  border-radius: 8px;
  background-color: #fff;
}

.point_title {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  height: 100px;
  background: url(src/resources/images/icon/ico_point.png) no-repeat center top;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 60px;
    border-right: 1px solid #eceef3;
    transform: translateY(-50%);
  }
}

.point_value {
  flex-grow: 1;
  display: flex;

  .item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 40px;
    white-space: nowrap;

    .inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .label {
      color: #5c5d64;
      font-weight: 500;
      letter-spacing: 0;
      padding-right: 5px;
    }

    .value {
      font-size: 42px;
      font-weight: 800;
      letter-spacing: 0;
    }

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      height: 60px;
      border-right: 1px solid #eceef3;
      transform: translateY(-50%);
    }
  }
}

.point_btns {
  width: 20%;
  max-width: 250px;
  height: 80px;

  .btn_profile {
    width: 100%;
    height: 100%;
    max-height: 80px;
    margin: 0;
  }
}

.dashboard_table {
  margin-top: 40px;
}

.table_dashboard {
  width: 100%;
  border-collapse: collapse;

  thead th {
    height: 50px;
    color: #5c5d64;
    font-weight: 600;
    background-color: #dee2ed;

    &:first-of-type {
      border-radius: 4px 0 0 4px
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0
    }
  }

  tbody td {
    height: 75px;
    padding: 0 35px;
    border-bottom: 1px solid #d6dbe9;
    font-size: 20px;
    font-weight: 500;
  }

  .ico {
    display: inline-block;
    width: 42px
  }
}