.list_form {
  & > li {
    position: relative;

    &:not(:first-of-type) {
      margin-top: 20px;
    }

    .msg_sm {
      position: absolute;
      top: 3px;
      right: 0;
    }
  }
}

.label_title {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

.pop_msg,
.pop_alert {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-height: 100%;
  margin-top: 40px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  word-break: keep-all;
}

.pop_alert {
  padding-top: 0;

  .tit {
    margin: 1rem 0 0.5rem;
    font-size: 1.250rem;
    font-weight: 500;
  }
  .txt {
    font-size: 0.875rem;;
    color: #555;
  }
}

.pop_msg_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7;
  color: $c_secondary;
}

.pop_msg_header {
  margin: -20px 40px 40px;
  font-size: 15px;
  color: #666;
}