.container_main {
  .section_tit {
    font-size: 1.857rem;
  }
}

.main_visual{
  height: 50vw;
  max-height: 400px;

  .visual_01 {
    background-position-x: 69%;
    background-size: auto 130%;

    .content_wrapper { display: none; }
  }
}

.main_card_item {
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: $m_sides;
  margin: 0;
  border-radius: 6px;

  &:not(:first-child) {
    margin-top: $m_top*0.5;
  }

  .link_shortcut {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    color: transparent;

    .ico {
      display: none
    }
  }
}

.main_card {
  position: static;
  display: block;
  max-width: initial;
  margin: $m_top 0;

  .main_card_item {
    &::before {
      content: none;
    }

    .card_cont {
      position: static;
      padding: 0 0 0 40px;

      &::before {
        top: 50%;
        left: $m_sides;
        transform: translateY(-50%);
      }

      &::before, h3 {
        font-size: 1.643rem;
      }

      h3 {
        margin-bottom: 0;
      }
    }

    .card_cont p {
      display: none
    }

    .link_shortcut {
      width: auto;
      height: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.main_service_toggle {
  width: auto;
  height: 3em;
  padding: 0 1.2em;
  margin: 0 auto $m_top;
  border-radius: 3em;
  border: 0;
  background-color: $c_primary;
  color: #fff;
  font-weight: 500;
  font-size: 1.143rem;
}

.main_service.open {
  .main_service_toggle {
    margin: $m_top auto $m_top*2;
  }
}

.main_service_section {
  padding: $m_top*1.5 0 $m_top;
  border-bottom: 0;

  .section_tit {
    margin-bottom: 1em;
  }
}

/* cloud service */
.main_service_cloud {
  li {
    width: calc(100% / 3);
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }

  .ico {
    margin-bottom: 0;

    img {
      width: 54px;
      max-height: 100%;
    }
  }
}

/* digital resource */
.main_service_card {
  display: block;

  .card_cont {
    padding: 0;
    font-size: 1rem;
  }

  .main_card_item {
    border-radius: 6px;
    box-shadow: none;

    h3 {
      font-size: 1.643rem;
    }
  }
}

/* plaform */
.main_service_platform {
  display: block;

  & > li:not(:first-of-type) {
    margin-top: $m_top*1.5;
    padding-top: $m_top*1.5;
    border-top: 1px solid #e3e3e3;
  }

  .ico {
    float: left;
    width: 2.57rem;
  }

  h3 {
    float: left;
    line-height: 2.57rem;
    margin-top: 0;
    margin-left: 12px;
  }

  ul {
    clear: both;

    li::before {
      top: 8px;
      width: 5px;
      height: 5px;
      background-color: #222;
    }
  }
}

/* notice */
.main_notice {
  position: relative;
  padding-top: $m_top*2;

  .section_tit {
    font-size: 2.143rem
  }

  .btn_more {
    position: absolute;
    bottom: 2em;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.main_notice_list {
  margin-top: 1em;

  .category {
    display: none;
  }
}

@media screen and (max-width: 320px) {

}