@media screen and (max-width: 1279px) {
  .content_wrapper {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .btn_menu {
    display: block;
  }
  .header_nav {
    display: none;
  }
  .btn_view {
    display: none;
  }
  .btn_util:not(:first-child)::before {
    content: none;
  }

  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    .content_wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .footer_content {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .footer_nav {
    margin-left: -10px;
    font-size: 0.857rem
  }

  .footer_copy {
    font-size: 0.929rem;
  }

  .side_nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .container_sub,
  .container_login {
    min-height: calc(100vh - 150px);
  }

  .btn_menu {
    .ico {
      border-bottom-color: transparent;
    }
    .ico::before,
    .ico::after {
      height: 1px;
    }

    .ico::before {
      margin-top: -5px;
    }

    .ico::after {
      margin-top: 3px;
    }
  }

  .side_sns {
    .btn_sns {
      width: 35px;
      height: 40px;
    }

    .discord {
      background-size: 17px;
    }

    .twitter {
      background-size: 17px;
    }

    .medium {
      background-size: 20px;
    }
  }

  .footer .side_sns li:not(:first-of-type) {
    margin-left: 6px;
  }

  .footer_copy {
    padding: 5px 0;
    @include font_s;
  }

  .footer_nav {
    display: flex;
    margin-left: -5px;
    @include font_ss;

    a {
      padding: 5px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:not(:first-child) {
        margin-left: 10px;

        &::before {
          left: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .container_sub,
  .container_login {
    min-height: calc(100vh - 180px);
  }

  .footer {
    .content_wrapper {
      flex-direction: column;
    }

    .side_sns {
      justify-content: flex-start;
    }
  }
}