@media screen and (max-width: 1279px) {
  .container_sub,
  .container_login {
    min-height: unset;
    flex-grow: 1;
  }

  .content_wrapper {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 70px;

    .content_wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .footer_content {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .footer_nav {
    margin-left: 0;
    font-size: 14px;

    a {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .footer_copy {
    font-size: 18px
  }

  .side_nav {
    display: none;
  }

  .header {
    .btn_menu {
      display: block;
    }
    .btn_view {
      display: none;
    }
    .btn_util:not(:first-child)::before {
      content: none;
    }

    .header_nav {
      position: fixed;
      top: 80px;
      bottom: 0;
      left: 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 0;
      padding: 30px 4vw;
      background-color: #fff;
      transition: left .3s ease-in-out;

      .nav {
        order: 1;
        flex-direction: column;
        width: 100%;
        border-top: 1px solid #1b1d28;
        border-bottom: 1px solid #1b1d28;
        margin: 30px 0;

        .play {
          display: none;
        }

        a {
          height: 55px;
          padding-left: 45px;
          color: #1b1d28;
          font-size: 14px;
          font-weight: 600;

          &:not(:last-child) {
            margin-right: 0;
          }

          &:not(:first-child) {
            margin-left: 0;
            border-top: 1px solid #eceef3;

            &::before {
              content: none;
            }
          }

          .ico_link {
            margin-left: 5px;
            transform: scale(0.7);
          }
        }
      }

      .mypage { display: none }

      .main {
        background: url(src/resources/images/layouts/ico_nav_main.svg) no-repeat 7px center;
        background-size: 22px;
      }
      .nfts {
        display: flex;
        background: url(src/resources/images/layouts/ico_nav_nfts.svg) no-repeat 6px center;
        background-size: 25px;
      }
      .dashboard {
        display: flex;
        background: url(src/resources/images/layouts/ico_nav_dashboard.svg) no-repeat 5px center;
        background-size: 25px;
      }
      .wiki {
        background: url(src/resources/images/layouts/ico_nav_wiki.svg) no-repeat 6px center;
        background-size: 26px;
      }

      .my_btns {
        display: flex;
        justify-content: space-between;
        order: 0;
      }

      .user_btns {
        display: block;
        order: 10;
      }

      .btn_profile {
        width: calc(50% - 5px);

        &:only-child {
          width: 100%;
        }
      }
    }

    &.open {
      .header_nav {
        left: 0;
        box-shadow: -10px 5px 5px rgba(0,0,0,0.1);
      }

      .btn_menu {
        .ico {
          background: transparent;

          &::before,
          &::after {
            top:0;
          }

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .btn_menu {
    .ico,
    .ico::before,
    .ico::after {
      height: 1px;
      font-size: 2vw;
    }
  }

  .side_sns {
    .btn_sns {
      width: 40px;
      height: 46px;
    }

    .discord {
      background-size: 18px;
    }

    .twitter {
      background-size: 18px;
    }

    .medium {
      background-size: 22px;
    }
  }

  .footer {
    padding-top:6vw;
    padding-bottom: 8vw;

    .side_sns li:not(:first-of-type) {
      margin-left: 10px;
    }
  }

  .footer_nav {
    display: flex;
    margin-left: -5px;
    font-size: 12px;
    letter-spacing: 0;

    a {
      padding: 5px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:not(:first-child) {
        margin-left: 10px;

        &::before {
          left: -10px;
        }
      }
    }
  }

  .footer_copy {
    padding: 5px 0;
    font-size: 14px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 613px) {
  .header,
  .header .content_wrapper {
    height: 13vw;
  }

  .header .header_nav {
    top: 13vw
  }
}

@media screen and (max-width: 413px) {
  .container_sub,
  .container_login {
    //min-height: calc(100vh - 180px);
  }

  .footer {
    .content_wrapper {
      flex-direction: column;
    }

    .side_sns {
      justify-content: flex-start;
      margin-bottom: 10px;
    }
  }
}