$header_h : 60px;

.header_nav {
  position: relative;

  & > .content_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform .2s;
  }

  .btn_nav {
    z-index: 1;
    position: absolute;
    top: -$header_h;
    right: 0;
    width: $header_h;
    height: $header_h;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;
    transition: background-color .2s;
  }

  &.open {
    &::before {
      bottom: 0;
      background-color: rgba(32,32,32,0.3);
    }

    & > .content_wrapper {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.gnb_service {
  display: none
}

.gnb_main_item {
  position: relative;
  border-bottom: 1px solid #e8e8e8;

  & > a {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
    padding-right: 24px;
    padding-left: 24px;
  }

  &.selected > a {
    color: $c_primary;
  }

  .ico.link {
    display: none
  }

  &.open {
    & > a {
      color: $c_primary;
    }

    .gnb_sub li a {
      display: flex;
    }

    .btn_subnav .ico.subnav::before {
      top: 11px;
      border-color: $c_primary;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.btn_subnav {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $header_h;
}

.gnb_sub_wrapper {
  background-color: #fafafa;
  box-shadow: inset 0 1px 0 0 #e8e8e8;
  transition: height .3s ease-in-out;
}

.gnb_sub_tit {
  display: none
}

.gnb_sub {
  li {
    &:not(:first-of-type) a {
      border-top: 1px solid #e8e8e8;
    }

    &:only-of-type a { display: none; }
  }

  a {
    display: none;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 500;
  }

  .selected a {
    color: $c_primary;
  }
}