@media screen and (max-width: 1599px) {
  .table_dashboard {
    td {
      &.claim {
        position: relative;
      }
    }
    .tooltip {
      position: static;

      .tooltip_pop {
        transform: translateX(-65%);
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .point_title {
    display: none
  }
}

@media screen and (max-width: 1023px) {
  .dashboard_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .dashboard_action {
    width: 100%;
    margin-top: 5%;

    .custom-select {
      flex-grow: 1;
    }

    & > *:not(:first-child) {
      margin-left: 5px;
    }
  }

  .point_box {
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
  }

  .point_value {
    width: 100%;
    margin-top: 2%;

    .item {
      justify-content: flex-end;
      padding: 0 4%;
    }
  }

  .point_btns {
    width: 100%;
    max-width: unset;
    height: auto;
    margin-top: 4%;

    .btn_profile {
      max-width: unset;
      height: 3em;
      font-size: 3vw;

      .cash {
        padding-left: 6vw;
        background-size: auto 40%;
      }
    }
  }

  .table_dashboard {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    tr {
      display: block;
      padding: 20px 2vw;
      border-top: 1px solid #d6dbe9;
    }

    td {
      display: flex;
      height: unset;
      border: 0;
      padding: 0;
      font-size: 18px;

      &.time {
        width: 100%;
        margin-bottom: 15px;
        font-size: 14px;
        letter-spacing: 0;
      }

      &.claim {
        clear: both;
        width: 100%;
        padding-top: 15px;

        & > * {
          flex-grow: 1;
          font-size: 18px;
          height: 2.3em;
        }

        .timer,
        .ico_wrapper {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          border-radius: 4px;
          background-color: #dee2ed;
          line-height: 1.2em;
        }

        .claimed {
          flex-direction: row;

          .ctime {
            padding-left: 6px;
            padding-top: 3px;
          }
        }
      }

      &.event {
        float: left;
        width: 55%;
        font-weight: 600;
        letter-spacing: 0;
      }

      &.point {
        float: left;
        width: 45%;
        font-weight: 600;
        letter-spacing: 0;
      }
    }

    .ico {
      width: 2em;

      img {
        width: 80%;
        margin-top: 0;
      }
    }
  }

  .table_dashboard .tooltip .tooltip_pop {
    transform: translateX(-50%);
  }

  .dashboard_btns {
    margin-top: 0;
    padding-top: 40px;
    border-top: 1px solid #d6dbe9;
  }

  .nfts_container .item {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 767px) {
  .container_login {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }

  .login_title {
    .font_title {
      font-size: 7.5vw;
      line-height: 1em;
    }
    .subtit {
      margin-top: 1em;
      font-size: 2.5vw;
      letter-spacing: 0;
    }
  }

  .login_box {
    padding-top: 10vw;
    padding-bottom: 10.5vw;
    margin-top: 10vw;

    .font_title {
      font-size: 5.5vw;
    }
  }

  .login_sns {
    margin-top: 1.5rem;

    button {
      padding: 0 1.4rem;
      letter-spacing: 0;
      font-size: 14px;
      font-weight: 500;

      &:not(:first-of-type) {
        margin-top: 8px;
      }

      &.btn_apple span::before,
      &.btn_facebook span::before,
      &.btn_google span::before {
        background-size: 18px;
      }

      &.btn_apple span::before {
        background-position: left 3px;
      }

      span {
        height: 1rem;
        line-height: 1rem;
        margin-left: 36px;

        &::before {
          left: -36px;
          width: 36px;
        }
      }
    }
  }

  .table_dashboard .tooltip .tooltip_pop {
    top: calc(100% + 5px)
  }

  /********* my page *********/

  .mypage_profile {
    .content_wrapper {
      padding-top: 10vw;
      padding-bottom: 8vw;
    }
  }

  .mypage_detail {
    padding-left: 5px;
    padding-right: 5px;

    .content_wrapper {
      padding-top: 8vw;
      padding-bottom: 16vw;
    }
  }

  .profile_name {
    font-size: 5vw;
  }

  .profile_id {
    font-size: 2.5vw;
    letter-spacing: 0;

    span {
      font-size: inherit;
    }
  }

  .profile_btns {
    margin-top: 5vw;

    .btn_profile {
      width: calc(50% - 10px);
      margin: 0 5px;
    }
  }

  .btn_profile {
    font-size: 2.5vw;
    letter-spacing: 0;
    white-space: nowrap;

    .wallet {
      padding-left: 2.8em;
      background-size: auto 45%;
    }

    .cash {
      padding-left: 2.8em;
      background-size: auto 45%;
    }
  }

  .btn_tab {
    width: 32vw;
    height: 3em;
    border-radius: 2em;
    font-size: 3vw;
    letter-spacing: 0;
    white-space: nowrap;
  }

  .custom-select {
    height: 3em;
    font-size: 3vw;
    letter-spacing: 0;

    .select-selected:before,
    .select-selected:after {
      width: 20%;
      min-width: 25px;
      max-width: 60px;
    }

    .select-selected:before {
      height: 40%;
      min-height: 12px;
    }

    .select-selected:after {
      background-size: 28%;
    }

    .select-items div,
    .select-selected {
      padding-left: 8%;
    }

    .select-items div {
      padding-right: 8%;
    }
  }

  .btn_refresh {
    width: 4.5em;
    height: 4.5em;
    font-size: 2vw;
    background-size: 45%;
  }

  .point_box {
    margin-top: 4vw;
  }

  .point_value {
    .item {
      .label {
        font-size: 2.5vw
      }
      .value {
        font-size: 5vw;
      }

      &:not(:first-child)::after {
        height: 90%;
      }
    }
  }

  .table_dashboard {
    td {
      font-size: 15px;

      &.time {
        font-size: 13px;
      }

      &.claim {
        & > * {
          font-size: inherit;
        }
      }
    }

    .tooltip_pop {
      width: 95%;
      padding-left: 4vw;
      padding-right: 4vw;
      font-size: 12px;
      white-space: unset;
    }
  }

  .tooltip_btn {
    background-size: auto 60%;
  }

  .tooltip_btn,
  .btn_add {
    width: 4vw;
    height: 4vw;
    max-width: 22px;
    max-height: 22px;
  }

  .btn_more {
    width: 40vw;
    min-width: 150px;
    height: 3em;
    min-height: 40px;
    border-radius: 3em;
    font-size: 3vw;

    .ico {
      padding-right: 1.6em;
      background-size: auto 40%;
    }
  }

  /* nfts */

  .nfts_container {
    margin: -1vw;
    letter-spacing: 0;

    .item {
      width: calc(50% - 2vw);
      margin: 1vw;
      border-radius: 7px;
    }

    .photo {
      border-radius: 7px 7px 0 0;
    }

    .action {
      border-radius: 0 0 7px 7px;
      font-size: 3vw;
    }

    .info {
      padding: 3vw;

      .label {
        padding-top: 2px;
        font-size: 11px
      }

      .title {
        padding-right: 50px;

        .txt {
          font-size: 3vw;
        }
      }

      .btn_small {
        top: 3vw;
        right: 3vw;
      }
    }

    .btn_small {
      height: 2em;
      font-size: 11px;
      padding: 0 6px;
    }
  }
}

@media screen and (max-width: 459px) {
  .table_dashboard .tooltip .tooltip_pop {
    top: calc(100% + 2px)
  }

  .btn_add {
    border-width: 1px;

    &::before,
    &::after {
      height: 1px
    }
  }
}

@media screen and (max-width: 319px) {
  .table_dashboard td {
    &.event {
      width: 100%
    }

    &.point {
      width: 100%;
      margin-top: 5px
    }
  }

  .table_dashboard .tooltip .tooltip_pop {
    top: calc(100%)
  }

  .nfts_container {
    .item {
      width: calc(100% - 2vw);
    }

    .action {
      padding-bottom: 10vw;
    }
  }
}