/* notice */
.mobile_notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 420px);
  border-top: 2px solid #222;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;

  .mobile_msg {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    word-break: keep-all;
  }
}

/* board */
.board_list_header,
.board_read_header {
  display: block;
  height: auto;
  font-size: 15px;
  padding-bottom: 1rem;
}

.board_list_header {
  border-top: 0;

  .board_count {
    display: none;
  }
}

.board_list_wrapper,
.board_read_wrapper {
  padding-top: 5px;
  word-break: keep-all;
}

.board_read_header,
.board_read_body {
  padding-left: 0;
  padding-right: 0;
}

.board_read_header {
  display: block;
  height: auto;
  padding-top: 1rem;

  .board_date {
    font-size: 11px
  }
}

.board_read_body {
  min-height: 50vw;
  padding-top: $m_top;
  padding-bottom: $m_top;
}

.board_search {
  width: 100%;
  height: 3rem;
}

.board_list_wrapper {
  .table_list {
    display: block;

    thead { display: none; }
    tbody,
    tbody td {
      display: block;
    }

    tbody tr {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;

      &:not(:first-of-type) {
        border-top: 1px solid #ededed;
      }
    }

    tbody td {
      height: auto;
      padding: 0;
      border: 0;
      font-size: 11px;

      &.td_num:first-of-type {
        display: none;
      }

      &.td_title {
        width: 100%;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 1.2;
        word-break: keep-all;

        a {
          font-weight: 700;
        }

        &.td_qna {
          padding-right: 90px
        }
      }

      &.td_btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &.td_writer {
        padding-right: 10px !important;
      }

      &.td_state {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        width: 80px;
        line-height: 2em;
        margin-top: -1em;
        font-size: 16px;
        font-weight: 500
      }
    }
  }
}

.board_btns.float {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;

  .btn_comm {
    position: static;
  }
}

.board_read_page .board_ans {
  padding-left: 3em;

  &::before {
    left: 0
  }
}

.paging_wrap {
  .paging_num {
    margin: 0 10px;
  }
  .current {
    width: 42px;
  }
  .total::before {
    padding: 0 4px 0 2px;
  }
}

.board_body_data {
  font-size: 12px;
}

.board_tit_main {
  font-size: 18px
}

.board_tit_sub {
  font-size: 16px;
}

.board_text_main {
  font-size: 13px;
}

.list_board {
  li {
    padding-left: 12px;

    &::before {
      top: 7px;
      left: 1px;
      width: 4px;
      height: 4px
    }
  }
}

.table_board {
  display: block;
  overflow: hidden;

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  th, td {
    height: auto;
    padding: 9px 14px;
  }

  th {
    display: flex;
    align-items: center;
    width: 26%;
    height: auto;
  }

  td {
    display: flex;
    align-items: center;
    width: 74%;
  }

  tr:last-of-type {
    margin-bottom: -1px;

    th, td {
      border-bottom-width: 1px;
    }
  }
}

/* gallery board */
.gallery_wrapper {
  padding-top: 0;
  padding-bottom: $m_top*2;
  border-top: 0;

  .gallery_item {
    &:not(:first-child) {
      margin-top: 12px
    }

    .txt {
      height: auto;
      margin-bottom: 1.2rem;
      font-size: 1rem;
    }
  }
}

/* cloud service */
.cloud_service,
.platform_service,
.api_service,
.gallery_list {
  display: block;
  margin: 0;
}

.cloud_category,
.platform_category,
.api_category,
.gallery_item {
  width: auto;
  margin: 0;

  .section_tit {
    margin-top: 1.2em;
  }
}

/* FAQ */
.faq_header {
  display: none;
}

.faq_que {
  .td_num {
    display: none;
  }

  .tit {
    padding-left: 0;
  }
}

.btn_faq {
  line-height: 1.3;

  &::after {
    right: 1rem;
    width: 10px;
    height: 10px;
    border-right-width: 3px;
    border-top-width: 3px;
  }
}

.faq_ans {
  padding-left: 0;

  .cont {
    padding-left: 10px;
    padding-right: 0;
    font-size: 13px;
  }
}

.terms_container {
  .list_lg {
    & > li {
      padding-left: 18px;
    }

    h4,
    .text_tit {
      text-indent: -18px;
    }
  }

  .list_bullet {
    & > li {
      padding-left: 17px;
      text-indent: -17px;
    }

    &.st2 {
      & > li {
        padding-left: 15px;
        text-indent: -15px;
      }
    }
  }
}

.intro_visual {
  margin-top: $m_top*-1;
  padding: $m_top*2 0;
  font-size: 13px;
}

.intro_visual_tit {
  font-size: 2rem;
}

.intro_service {
  display: block;
  margin-top: $m_top*2;

  .intro_item {
    width: auto;
    padding-bottom: $m_top;

    &:not(:first-child) {
      border-top: 1px solid #ededed;
    }
  }

  .section_tit {
    margin-top: $m_top;
    font-size: 1.714rem;
  }
}