html {
  height: 100%;
  font-size: 16px;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #1b1d28;
  color: #fff
}

body,
button,
input,
select,
textarea,
table {
  font-size: 1rem;
  font-family: 'Outfit', sans-serif;
  letter-spacing: 1px;
}

.font_title {
  font-family: Montserrat, sans-serif !important;
  font-weight: 800 !important;
}

.wrap {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.content_wrapper {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.container_sub {
  .content_wrapper {
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
  }
}

.container_sub,
.container_login {
  min-height: calc(100vh - 320px);
  background-color: #fff;
  color: #1b1d28
}